{% extends 'base.html' %}


{% block index %}
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="400px" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777"/>
                </svg>

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Срочный ремонт и оперативный выезд к клиенту</h1>
                        <hr>
                        <p>Ремонт компьютеров, ноутбуков и орг. техники.<br> Сборка, настройка, модернизация. <br>
                            Ремонт, заправка и обслуживание принтеров.<br> Срочный ремонт залитых ноутбуков. <br>В
                            период Covid-19 мы заберем у Вас поломанную технику и вернем рабочую, соблюдая все меры
                            предосторожности.</p>
                        <p><a class="btn btn-lg btn-primary" href="{{ url_for('main_login') }}">Оформить заказ</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="400px" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777"/>
                </svg>

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Программное обеспечение и информация</h1>
                        <hr>
                        <p>Установка операционных систем, программного обеспечения. <br> Удаление вирусов и установка
                            защит.<br> Востановление информации с носителей.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Оформить заказ</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="400px" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777"/>
                </svg>

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Магазин комплектующих и расходных материалов</h1>
                        <p>Покупка онлайн по выгодным ценам. <br> Заказ и оформление компонентов для ремонта.<br>
                            Доставка расходных материалов для принтеров. <br> Выбор комплектующих для Apple. <br>
                            Большой асортимент клавиатур, батарей, экранов, памяти и дисков на складе. </p>
                        <p><a class="btn btn-lg btn-primary" href="#">Перейти в магазин</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock index %}